In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
from math import sin, cos, sqrt, atan2, radians
import re
import warnings
warnings.filterwarnings('ignore')
print('Libraries imported!')

Libraries imported!

In [2]:
house_address_all = []
house_details_all = []
house_address = []
house_details = []
postal_code_array = []
latitude_array = []
longitude_array = []
year_built_array = []
payment_monthly = []
lot_size = []
basement = []
garage = []
mlsa = []
mls_array = []

base_url = 'https://www.remax.ca/ab/calgary-real-estate?page='
urls = [base_url + str(x) for x in range(1,110)]

for url in urls:
    
    #browser.visit(url)
    time.sleep(5)

    # Parse HTML with Beautiful Soup
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    #time.sleep(5)
    
    for each in soup.find_all(class_= "card-text ng-star-inserted" ):
        try: 
            mls = each.find(class_='mlsNumber').text.replace('MLS® #: ', '')
            mls_array.append(mls)
        except:
            mls_array.append(np.nan)

    try:
        addresses = soup.find_all('div', class_='left-content flex-one')
        for address in addresses:
            house_address_all.append(address.text)
    except:
        house_address_all.append('None')
        
    #time.sleep(5)
        
    try:
        details = soup.find_all('div', class_='property-details')
        for detail in details:
            house_details_all.append(detail.text)
    except:
        house_details_all.append('None')
        
    #time.sleep(5)
        
    house_details_more=[]
    url_house = []
        
    try:
        for detail in soup.find_all('a'):
            house_details_more.append(detail.get('href'))
    except:
        house_details_more.append('None')
    
    #time.sleep(5)

    for i in house_details_more:
        if '/ab/calgary-real-estate/' in str(i):
            link = 'https://www.remax.ca' + str(i)
            url_house.append(link)
            
    #time.sleep(5)
    
    for i in url_house:
    
        time.sleep(5)

        page = requests.get(i)
        soup = BeautifulSoup(page.text, "html.parser")

        #lat_all = soup.find_all('script')[3]
        lat3 = soup.find_all('script')[3]
        lat4 = soup.find_all('script')[4]
        
        string3 = ', '.join(lat3)
        string4 = ', '.join(lat4)
        
        #string = ', '.join(lat_all)
        #pc = "postalCode"
        #position_pc = string.find(pc)
        #pcd = string[(position_pc+14):(position_pc+20)]
        #postal_code_array.append(pcd)
        
        lat = "latitude"
        if lat in string3:
            position_lat = string3.find(lat)
            latd = string3[(position_lat+11):(position_lat+20)]
            latitude_array.append(latd)
        elif lat in string4:
            position_lat = string4.find(lat)
            latd = string4[(position_lat+11):(position_lat+20)]
            latitude_array.append(latd)
        else:
            latitude_array.append(np.nan)

        long = "longitude"
        if long in string3:
            position_lat = string3.find(long)
            latd = string3[(position_lat+11):(position_lat+20)]
            longitude_array.append(latd)
        elif long in string4:
            position_lat = string4.find(long)
            latd = string4[(position_lat+11):(position_lat+20)]
            longitude_array.append(latd)
        else:
            longitude_array.append(np.nan)

        house_address = []

        #time.sleep(5)

        try:
            addresses = soup.find_all('section', class_='property-details')
            for address in addresses:
                house_address.append(address.text)
        except:
            house_address.append('None')

        #time.sleep(5)

        string = ', '.join(house_address)
        s_year = "Year Built: "
        if s_year in string:            
            position_year = string.find(s_year)
            year_built = string[(position_year+12):(position_year+16)]
            year_built_array.append(year_built)
        else:
            year_built_array.append(np.nan)
        
        s_lot = "Lot Size: "
        if s_lot in string:
            try:
                start = string.rindex(s_lot) + len(s_lot)
                end = string.rindex("Occupancy", start )
                lot_size.append(string[start:end])
            except:
                lot_size.append(np.nan)
        else:
            lot_size.append(np.nan)
        
        basement_yn = "Basement"
        if basement_yn in string:
            basement.append(1)
        else:
            basement.append(0)
            
        garage_yn = "Garage"
        if garage_yn in string:
            garage.append(1)
        else:
            garage.append(0)
        
        try:
            payment = soup.find(class_="payment-amount").text
            payment_monthly.append(payment)
        except:
            payment_monthly.append(np.nan)
        
        #result = re.search('MLSÂ® #: (.*)Ownership', string)
        #result_app = result.group(1)
        #mlsa.append(result.group(1))
        
        mlsa_number = "MLSÂ® #: "
        try:
            start = string.rindex(mlsa_number) + len(mlsa_number)
            end = string.rindex("Ownership", start )
            mlsa.append(string[start:end])
        except:
            #mlsa_pos = string.find(mlsa_number)
            #mlsa_temp = string[(mlsa_pos+8):(mlsa_pos+16)]
            mlsa.append(np.nan)

        #time.sleep(5)

In [3]:
latitude_array[:5]

['51.080529', '51.132727', '51.164469', '51.136122', '51.06472,']

In [4]:
longitude_array[:5]

[' -114.145', ' -114.247', ' -114.057', ' -114.196', ' -114.209']

In [5]:
mls_array_df_temp = pd.DataFrame(mls_array)
mls_array_df_temp.head()

                   0
0  MLSÂ® #: A1046940
1  MLSÂ® #: A1047091
2  MLSÂ® #: A1046748
3  MLSÂ® #: A1047017
4  MLSÂ® #: A1047046

In [6]:
mls_array_df = mls_array_df_temp[0].str.split("MLSÂ® #: ", 1, expand=True)
mls_array_df[1].head()

0    A1046940
1    A1047091
2    A1046748
3    A1047017
4    A1047046
Name: 1, dtype: object

In [7]:
address_df = pd.DataFrame(house_address_all)

new_df = address_df[0].str.split(' ', 2, expand=True)
new_df["price"] = new_df[1].str.replace("$", "")
new_df["price"] = new_df["price"].str.replace(",", "")
new_df["price"] = pd.to_numeric(new_df["price"])

del new_df[0]
del new_df[1]
new_df.head()

                                                   2    price
0         14 Norford Common NW, Calgary, AB, T3G 6G6   649900
1    5 TUSCANY SPRINGS TERR NW, Calgary, AB, T3L 2V2   648000
2        240 COVEPARK CLOSE NE, Calgary, AB, T3K 5R3   359500
3       255 ARBOUR VISTA RD NW, Calgary, AB, T3G 4N8  1250000
4  716 - 8505 BROADCAST AVE SW, Calgary, AB, T3H 6B5   334900

In [8]:
final_df_pc = new_df[2].str.split(', Calgary, AB, ', expand=True)
final_df_pc.head()

                             0        1
0         14 Norford Common NW  T3G 6G6
1    5 TUSCANY SPRINGS TERR NW  T3L 2V2
2        240 COVEPARK CLOSE NE  T3K 5R3
3       255 ARBOUR VISTA RD NW  T3G 4N8
4  716 - 8505 BROADCAST AVE SW  T3H 6B5

In [9]:
#final_df_pc_clean = final_df_pc[1].str.replace(" ", "")
final_df_pc_clean = final_df_pc[1]
final_df_pc_clean.head()

0    T3G 6G6
1    T3L 2V2
2    T3K 5R3
3    T3G 4N8
4    T3H 6B5
Name: 1, dtype: object

In [10]:
df_add = pd.concat([new_df, final_df_pc_clean, final_df_pc[0], mls_array_df[1]], axis=1)
del df_add[2]
df_add.columns = ["price", "postal_code", "address", "mls"]
df_add.head()

     price postal_code                      address       mls
0   649900     T3G 6G6         14 Norford Common NW  A1046940
1   648000     T3L 2V2    5 TUSCANY SPRINGS TERR NW  A1047091
2   359500     T3K 5R3        240 COVEPARK CLOSE NE  A1046748
3  1250000     T3G 4N8       255 ARBOUR VISTA RD NW  A1047017
4   334900     T3H 6B5  716 - 8505 BROADCAST AVE SW  A1047046

In [11]:
details = pd.DataFrame(house_details_all)
details_df_temp = details[0].str.split('|', expand=True)
details_df_temp.head()

       0           1          2          3
0  2 bed  2 + 1 bath  1560 sqft  townhouse
1  3 bed  2 + 1 bath  1795 sqft      house
2  2 bed      2 bath   981 sqft      house
3  3 bed  2 + 1 bath  1913 sqft      house
4  1 bed      1 bath   483 sqft      condo

In [12]:
details_df_bed = details_df_temp[0].str.replace(' bed', '')
details_df_bath = details_df_temp[1].str.replace(' bath', '')
details_df_area = details_df_temp[2].str.replace(' sqft', '')

In [13]:
details_df_bath_all = details_df_bath.str.split('+', expand=True)
details_df_bath_full = details_df_bath_all[0]
details_df_bath_half = details_df_bath_all[1]

In [14]:
details_df_bed = details_df_bed.replace('N/A', np.nan)
details_df_bed = pd.to_numeric(details_df_bed)
details_df_area = details_df_area.replace('N/A', np.nan)
details_df_area = pd.to_numeric(details_df_area)
details_df_bath_full = details_df_bath_full.replace('N/A', np.nan)
details_df_bath_full = pd.to_numeric(details_df_bath_full)
details_df_bath_half = details_df_bath_half.replace('N/A', int(0))
details_df_bath_half = pd.to_numeric(details_df_bath_half)

In [15]:
data = {'bed':details_df_bed, 'full_bath':details_df_bath_full, 'half_bath':details_df_bath_half,
       'property_area':details_df_area, 'property_type':details_df_temp[3]}

In [16]:
details_df = pd.DataFrame(data)
details_df.head()

   bed  full_bath  half_bath  property_area property_type
0  2.0        2.0        1.0         1560.0     townhouse
1  3.0        2.0        1.0         1795.0         house
2  2.0        2.0        NaN          981.0         house
3  3.0        2.0        1.0         1913.0         house
4  1.0        1.0        NaN          483.0         condo

In [17]:
calgary_df_dup = pd.concat([df_add, details_df], axis=1)
calgary_df = calgary_df_dup.drop_duplicates()
calgary_df.head()

,price,postal_code,address,mls,bed,full_bath,half_bath,property_area,property_type
0,649900,T3G 6G6,14 Norford Common NW,A1046940,2.0,2.0,1.0,1560.0,townhouse
1,648000,T3L 2V2,5 TUSCANY SPRINGS TERR NW,A1047091,3.0,2.0,1.0,1795.0,house
2,359500,T3K 5R3,240 COVEPARK CLOSE NE,A1046748,2.0,2.0,NaN,981.0,house
3,1250000,T3G 4N8,255 ARBOUR VISTA RD NW,A1047017,3.0,2.0,1.0,1913.0,house
4,334900,T3H 6B5,716 - 8505 BROADCAST AVE SW,A1047046,1.0,1.0,NaN,483.0,condo

In [18]:
len(calgary_df)

2178

In [19]:
calgary_df.to_csv('data/calgary_listings-a.csv', index=False)

## Cleanup Postal Codes, Latitude, Longitude and Year Built

postal_codes_messy = pd.DataFrame(postal_code_array, columns=["postal_code"])

postal_codes_messy.head()

postal_code_array_clean = postal_codes_messy["postal_code"].str.replace('"', '')
postal_code_array_clean = postal_code_array_clean.str.replace(" ", "")

In [20]:
latitude_array_messy = pd.DataFrame(latitude_array, columns=["latitude"])

In [21]:
#latitude_array_messy

In [22]:
latitude_array_messy = latitude_array_messy["latitude"].str.replace(',', '')
latitude_array_messy.head()

0    51.080529
1    51.132727
2    51.164469
3    51.136122
4     51.06472
Name: latitude, dtype: object

In [23]:
longitude_array_messy = pd.DataFrame(longitude_array, columns=["longitude"])

In [24]:
longitude_array_messy = longitude_array_messy["longitude"].str.replace(',', '')
longitude_array_messy.head()

0     -114.145
1     -114.247
2     -114.057
3     -114.196
4     -114.209
Name: longitude, dtype: object

<div class="alert alert-danger">
    <b>Unused</b>
    
year_built_messy = pd.DataFrame(year_built_array, columns=["year_built"])<br>
year_built_clean = year_built_messy["year_built"].str.replace('', np.nan)<br>
year_built_num = year_built_messy.astype(int)

year_built_num.head()
</div>

In [25]:
year_built_messy = pd.DataFrame(year_built_array, columns=["year_built"])
#year_built_messy = pd.to_numeric(year_built_messy)
year_built_messy.head()

  year_built
0       2018
1       2005
2       2002
3       1999
4       2020

In [26]:
year_built_clean = year_built_messy["year_built"].replace('', np.nan)

In [27]:
year_built_clean.head(11)

0     2018
1     2005
2     2002
3     1999
4     2020
5     2016
6     2002
7     1958
8     2010
9     1958
10    2011
Name: year_built, dtype: object

In [28]:
year_built_digits = []

for i in year_built_clean:
    if ((str(i) >= 'A' and str(i) <= 'Z') or (str(i) >= 'a' and str(i) <= 'z')):
        #year_built_clean.replace(i, np.nan)
        year_built_digits.append(np.nan)
    if ((str(i) == ' 9 2') or (str(i) == ' 8 2') or (str(i) == ' 2 2') or (str(i) == 'nasq') or (str(i) == ' 6 R') or (str(i) == ' 6 S')):
        year_built_digits.append(np.nan)
    else:
        year_built_digits.append(i)

In [29]:
year_built_digits[:11]

['2018',
 '2005',
 '2002',
 '1999',
 '2020',
 '2016',
 '2002',
 '1958',
 '2010',
 '1958',
 '2011']

In [30]:
year_built_num = pd.to_numeric(year_built_digits)
year_built_num[:10]

array([2018., 2005., 2002., 1999., 2020., 2016., 2002., 1958., 2010.,
       1958.])

In [31]:
year_built_num_pd = pd.DataFrame(year_built_num)

In [32]:
years_old = 2020 - year_built_num
years_old[:10]

array([ 2., 15., 18., 21.,  0.,  4., 18., 62., 10., 62.])

In [33]:
years_old_df = pd.DataFrame(years_old)

In [34]:
latitude_digits = []

for i in latitude_array_messy:
    if ((str(i) >= 'A' and str(i) <= 'Z') or (str(i) >= 'a' and str(i) <= 'z')):
        latitude_digits.append(np.nan)
    else:
        latitude_digits.append(i)

In [35]:
longitude_digits = []

for i in longitude_array_messy:
    if ((str(i) >= 'A' and str(i) <= 'Z') or (str(i) >= 'a' and str(i) <= 'z')):
        longitude_digits.append(np.nan)
    else:
        longitude_digits.append(i)

In [36]:
latitude_digits = pd.to_numeric(latitude_digits)
longitude_digits = pd.to_numeric(longitude_digits)

In [37]:
payment_monthly_messy = pd.DataFrame(payment_monthly, columns=["monthly_payments"])
payment_monthly_messy.head()

  monthly_payments
0         $2810.25
1         $2802.03
2         $1554.52
3         $5405.15
4         $1448.15

In [38]:
payment_monthly_messy = payment_monthly_messy["monthly_payments"].str.replace('$', '')
payment_monthly_messy.head(10)

0    2810.25
1    2802.03
2    1554.52
3    5405.15
4    1448.15
5    1729.65
6    1513.44
7    2200.98
8    2810.25
9    2810.25
Name: monthly_payments, dtype: object

In [39]:
payment_monthly_messy = payment_monthly_messy.replace('', np.nan)

In [40]:
payment_monthly_clean = payment_monthly_messy.replace('None', np.nan)
payment_monthly_clean = pd.to_numeric(payment_monthly_clean)

<div class="alert alert-success">
    <b>Guide</b>
    
https://stackoverflow.com/questions/19412462/getting-distance-between-two-points-based-on-latitude-longitude

#### approximate radius of earth in km
R = 6373.0
    
lat1 = radians(52.2296756)<br>
lon1 = radians(21.0122287)

lat2 = radians(52.406374)<br>
lon2 = radians(16.9251681)

dlon = lon2 - lon1<br>
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2<br>
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

print("Result:", distance)
    
#### Calgary Downtown coordinates (51.0449485,-114.0739559)
</div>

In [41]:
distance_downtown = []

for i, j in zip(latitude_digits, longitude_digits):
    lat1 = radians(i)
    lon1 = radians(j)
    lat2 = radians(51.0449485)
    lon2 = radians(-114.0739559)
    
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    R = 6373.0
    distance = (R * c)
    
    distance_downtown.append(round(distance, 2))

In [42]:
distance_downtown[:5]

[6.35, 15.54, 13.35, 13.25, 9.69]

In [43]:
distance_downtown_df = pd.DataFrame(distance_downtown)

<div class="alert alert-warning">
    <b>Another example</b>
    
import geopy.distance

coords_1 = (52.2296756, 21.0122287)<br>
coords_2 = (52.406374, 16.9251681)

print(geopy.distance.vincenty(coords_1, coords_2).km)
</div>

In [44]:
more_details = pd.DataFrame([latitude_digits, longitude_digits, year_built_num]).T
#more_details.columns = ["postal_code", "latitude", "longitude", "year_built"]
more_details.head()

           0        1       2
0  51.080529 -114.145  2018.0
1  51.132727 -114.247  2005.0
2  51.164469 -114.057  2002.0
3  51.136122 -114.196  1999.0
4  51.064720 -114.209  2020.0

In [45]:
lot_size_df = pd.DataFrame(lot_size)

In [46]:
basement_df = pd.DataFrame(basement)

In [47]:
garage_df = pd.DataFrame(garage)

In [48]:
mls_df = pd.DataFrame(mlsa)

In [49]:
more_df = pd.concat([more_details, years_old_df, distance_downtown_df, payment_monthly_clean, lot_size_df, basement_df, garage_df, mls_df], axis=1)
more_df.columns = ["latitude", "longitude", "year_built", "years_old", "distance_downtown", "monthly_payments", "lot_size", "basement", "garage", "mls"]
more_df.head()

,latitude,longitude,year_built,years_old,distance_downtown,monthly_payments,lot_size,basement,garage,mls
0,51.080529,-114.145,2018.0,2.0,6.35,2810.25,na,0.0,1.0,A1046940
1,51.132727,-114.247,2005.0,15.0,15.54,2802.03,5145,1.0,1.0,A1047091
2,51.164469,-114.057,2002.0,18.0,13.35,1554.52,3918,1.0,1.0,A1046748
3,51.136122,-114.196,1999.0,21.0,13.25,5405.15,6501,1.0,1.0,A1047017
4,51.064720,-114.209,2020.0,0.0,9.69,1448.15,NaN,0.0,0.0,A1047046

In [50]:
len(more_df)

7236

In [51]:
more_df.to_csv('data/calgary_listings-b.csv', index=False)

In [52]:
result_dup = pd.merge(calgary_df, more_df, on='mls')
result = result_dup.drop_duplicates()
result = result.reset_index(drop=True)
result.head()

,price,postal_code,address,mls,bed,full_bath,half_bath,property_area,property_type,latitude,longitude,year_built,years_old,distance_downtown,monthly_payments,lot_size,basement,garage
0,649900,T3G 6G6,14 Norford Common NW,A1046940,2.0,2.0,1.0,1560.0,townhouse,51.080529,-114.145,2018.0,2.0,6.35,2810.25,na,0.0,1.0
1,649900,T3G 6G6,14 Norford Common NW,A1046940,2.0,2.0,1.0,1560.0,townhouse,51.080529,-114.145,1963.0,57.0,6.35,2810.25,na,0.0,1.0
2,649900,T3G 6G6,14 Norford Common NW,A1046940,2.0,2.0,1.0,1560.0,townhouse,51.080529,-114.145,1968.0,52.0,6.35,2810.25,na,0.0,1.0
3,648000,T3L 2V2,5 TUSCANY SPRINGS TERR NW,A1047091,3.0,2.0,1.0,1795.0,house,51.132727,-114.247,2005.0,15.0,15.54,2802.03,5145,1.0,1.0
4,648000,T3L 2V2,5 TUSCANY SPRINGS TERR NW,A1047091,3.0,2.0,1.0,1795.0,house,51.132727,-114.247,2018.0,2.0,15.54,2802.03,5145,1.0,1.0

In [53]:
len(result)

5223

In [54]:
result_df_clean = result.sort_values('address').drop_duplicates(subset=['mls']) 
result_df_clean.head()

,price,postal_code,address,mls,bed,full_bath,half_bath,property_area,property_type,latitude,longitude,year_built,years_old,distance_downtown,monthly_payments,lot_size,basement,garage
335,219900,T2Y 3G2,", 22 Shawbrooke Court SW",A1045249,2.0,2.0,1.0,1109.0,townhouse,50.906640,-114.092,1998.0,22.0,15.44,950.87,na,1.0,0.0
5096,539000,T2E 2Z9,1 - 1510 CENTRE A ST NE,C4306021,2.0,2.0,1.0,1448.0,townhouse,51.065644,-114.061,NaN,NaN,2.47,2330.70,na,0.0,1.0
3445,549000,T2N 3R3,1 - 1718 KENSINGTON RD NW,A1029496,3.0,3.0,1.0,1211.0,townhouse,51.052786,-114.098,2018.0,2.0,1.89,2373.94,na,0.0,1.0
2923,394000,T3E 1V3,1 - 1938 24A ST SW,A1034579,2.0,2.0,1.0,1046.0,townhouse,51.036421,-114.118,2007.0,13.0,3.22,1703.70,na,0.0,1.0
4699,285000,T2S 0L1,1 - 210 25 AVE SW,A1017109,2.0,1.0,NaN,849.0,condo,51.030731,-114.067,2006.0,14.0,1.65,1232.38,NaN,0.0,1.0

In [55]:
len(result_df_clean)

1980

In [56]:
result_df_clean.to_csv('data/calgary_listings.csv', index=False)

-----------

<div class="alert alert-info">
    <b>UNSED</b>
</div>

In [ ]:
house_details_more=[]
url_house = []
try:
    for detail in soup.find_all('a'):
        house_details_more.append(detail.get('href'))
except:
    house_details_more.append('None')
    
for i in house_details_more:
    if '/ab/calgary-real-estate/' in str(i):
        link = 'https://www.remax.ca' + str(i)
        url_house.append(link)
url_house

In [ ]:
url_house[:5]

In [ ]:
PostalCode = []
Latitude = []
Longitude = []
YearBuilt = []

for i in url_house[:5]:
    
    time.sleep(5)
    
    page = requests.get(i)
    soup = BeautifulSoup(page.text, "html.parser")
    
    lat_all = soup.find_all('script')[4]
    
    string = ', '.join(lat_all)
    pc = "postalCode"
    position_pc = string.find(pc)
    pcd = string[(position_pc+14):(position_pc+21)]
    PostalCode.append(pcd)

    lat = "latitude"
    position_lat = string.find(lat)
    latd = string[(position_lat+11):(position_lat+20)]
    Latitude.append(latd)

    long = "longitude"
    position_long = string.find(long)
    longd = string[(position_long+12):(position_long+23)]
    Longitude.append(longd)
    
    house_address = []
    
    time.sleep(5)
    
    try:
        addresses = soup.find_all('section', class_='property-details')
        for address in addresses:
            house_address.append(address.text)
    except:
        house_address.append('None')
    
    time.sleep(5)
    
    string = ', '.join(house_address)
    s_year = "Year Built"
    position_year = string.find(s_year)
    year_built = string[(position_year+12):(position_year+16)]
    YearBuilt.append(year_built)